.home_logo img {
  height: 300px;
  width: auto;
  margin: 20px;
}

.home_header {
  width: 100%;
  height: 340px;
}

.home_logo {
  width: 50%;
  float: left;
  height: 100%;
}

.home_header {
  background-color: #d6d6db;
}

.buttons{
  text-align: center;
  list-style-type: none;
  width: 50%;
  float: left;
  margin: auto auto;
  margin-top: 80px;
}

.buttons a:hover {
  background-color: #666666;
  transition: 0.3s;
}

.buttons a:not(:hover) {
  background-color: grey;
  transition: 0.3s;
}

.buttons ul {
  width: 70%;
  list-style-type: none;
  margin: auto;
}

.button {
  background-color:grey;
  border: none;
  color: white;
  padding: 25px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  min-width: 180px;
  border-radius: 4px;
}

#navlogo {
  height: 30px;
  width: auto;
}

#navlogo_link {
  padding: 10px 20px;
}


#indexbody{
    flex: 1;
    background: #dbf4ff;
    border-radius: 50px;
    margin: 50px;
    padding: 60px 30px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
    
}
